<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title><%= locals.title %></title>
     <meta name="description" content="<%= locals.description %>">
     <link rel="stylesheet" href="/css/style.css">
     <script type="text/javascript" defer src="/js/script.js"></script>

     <style>
          .container {
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               min-height: 100vh;
          }

          
         
     </style>
</head>
<body>

     <div class="container">
          <div>
               <%- include('../partials/header_admin.ejs') %>
               <main class="main dashboard_body">
                    <%- body %>
               </main>
          </div>
          <%- include('../partials/footer.ejs') %>

     </div>
</body>
</html>