<div class="author">
     <h1 class="author__heading">Hi, I am Rajat.</h1>
     <p class="author__body">Web developer and Explorer.</p>
   </div>
   
   <img src="/img/hero-image.webp" alt="person looking out through window" class="hero-image" width="981" height="528">
   
   <section class="articles">
     <h2 class="articles__heading">Latest Posts</h2>
   
     <ul class="article-ul">

      <% data.forEach((post) => { %>
        <li>
         
          <div class="blog_container">
            <!-- <a href="/post/<%= post._id %>">
              <span><%= post.title %></span>
              <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a> -->
            <div class="blog_image">
              <!-- <img src="/uploads/1718738842041-neon pc wallpaper.jpg" alt=""> -->
        <% let image_url= post.coverImageURL %>
              
              <img src=<%= image_url %> alt="">
            </div>
            <div class="blog_content"> 
              <div class="blog_content_info">
                <h2><%= post.title %></h2>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
              </div>
                <p><%= post.body %></p>
                <a href="/blog/<%= post._id %>" class="read_more btn">Read more</a>
            </div>
          </div>
        </li>

      <% }) %>

     </ul>

     <% if(nextPage !== null){ %>
      <a href="/?page=<%= nextPage %>" class="pagination">&lt; view older posts</a>
      <% } %>
   
   

   
     
   
   
   
   </section>